.container {
    border: 1px solid black;
    margin: auto;
    width: 400px;
    height: 400px;
    padding: 2px;
    position: relative;
}

.circle {
    border: 1px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: darkorange;
    margin: auto;
    position: absolute; 
}
.place {
    width: 100%;
    height: 20px;
    border: 0px solid;
    position: absolute;
    bottom: 0;
    
}

.rect {
    border: 0.5px solid aqua;
    background-color: aquamarine;
    width: 60px;
    height: 90%;
    margin: auto;
}
